
<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4">

    	<h2>Enviar Comprovante</h2>
		<%= render 'form' %>

		<p><%= link_to 'Back', pins_path %></p>

  </div>
  <div class="col-xs-6 col-md-4"></div>
</div>
