<div class="jumbotron">
        <font color ="white">
			<font color ="yellow"><h3>BOLÃO DA COPA DO MUNDO DO BRASIL 2014</h3></font>
			</br>
			<font color ="yellow"><h4>Participação</h4></font>

			<br>A confirmação da participação no Bolão da Copa ocorrerá mediante pagamento de uma Taxa de R$ 30,00 (Trinta Reais), que deverá ser creditado em conta corrente da Caixa Econômica.</br>

			<br>Caixa Econômica= Agência:1562  Conta Corrente:20168-2</br>
			<br>Titular da conta: Francisco Tomaz de Aquino Junior</br> 

			<br>O crédito realizado no Banco carece de confirmação através do comprovante do depósito que poderá ser enviado no próprio site,logo após ter sido feito login, através do link "enviar comprovante" no menu superior direito.</br>
			
			<br>Deverá ser preenchido o cadastro de inscrição no site do Bolão:''http://Bolao2014.herokuapp.com'' no link “Registre-se”.</br>

			<br>Os pagamentos devem ser efetuados (devidamente comprovados) até o dia anterior do início da copa, ou seja, até o dia 11 de junho de 2014, caso contrário, não será possível participar do bolão e seu cadastro será excluido. Os formatos do arquivo que serão aceito são: JPEG, JPG, PNG. Lembrando que cada participante poderá realizar quantas apostas desejar. Cada aposta custa R$30,00.</br>
			
			</br><font color ="yellow"><h4>Pontuação</h4></font>

			<br>Os critérios de pontuação serão os seguintes: </br>

			<br>Critério 1 = acertar placar</br>

			<br>Critério 2 = acertar resultado</br>

			<br>1-  Se o palpite do participante corresponder ao placar exato do jogo, acertando o vencedor/perdedor ou empate, além de acertar o número de gols marcados por ambas as equipes, ele terá direito a 3 (três) pontos.</br>

			<br>2- Se o palpite do participante corresponder somente ao time vencedor ou perdedor do jogo ou ao empate, porém não acertar o exato número de gols marcados pelas equipes, ele terá direito a apenas 1 (um) ponto.</br>

			<br>Exemplos:</br>
			<br>Um participante apostou em 3 x 2 para o time A e o resultado final do jogo foi 4 x 2 para o time A. Neste caso, será computado apenas 1 (um) ponto, por ter acertado o resultado do jogo em favor do time A.</br>  

			<br>Um participante apostou em 2 x 1 para o time A e o resultado final da partida foi exatamente o mesmo, isto é, foi 2 x 1 para o time A. Neste caso, serão computados três pontos, pois ele acertou o resultado do jogo e o exato número de gols marcados pelas equipes.</br>

			<br>Observação: O participante poderá alterar o resultado de cada partida até o dia 11 de junho de 2014. Os palpites de todos os participantes devem ser registrados até um dia antes de começar o torneio, assim, após período indicado não será possível qualquer alteração ou inclusão de palpites.</br>

			<br><font color ="yellow"><h4>Critérios de Desempate:</h4></font></br>
			<br>Em caso de acontecer empate entre os participantes, os critérios de desempate serão seguintes:</br>
			<br>1- Quem tiver acertado o maior número de placar durante a primeira fase da copa.</br>
			<br>2- Quem tiver acertado o maior número de resultados na primeira fase da copa.</br>
			<br>3- Quem tiver conseguido a maior pontuação no grupo A (do Brasil).</br>

			</br><font color ="yellow"><h4>Premiação</h4></font>

			<br>Primeiro colocado: Será premiado com 60 (sessenta)% do valor arrecadado dos participantes.</br>
			<br>Segundo colocado: Será premiado com 30 (trinta)% do valor arrecadado dos participantes.</br>
			<br>Terceiro colocado: Será premiado com 10 (dez)% do valor arrecadado dos participantes.</br>

			</br><font color ="yellow"><h4>Observações gerais</h4></font>

			<br>Não haverá possibilidade alguma de realizar a aposta após o período informado.
			Esse Bolão é uma brincadeira entre amigos e familiares que gostam de futebol sem nenhum fim lucrativo, uma vez que todo o valor arrecadado será entregue em forma de premiação, conforme as regras já descritas acima. O objetivo é a diversão.  
			Façam suas apostas e boa sorte!!!</br>

			</br><font color ="yellow"><h4>Contato</h4></font>

			<br>Caso queira tirar alguma dúvida ou tenha algum problema, basta mandar um email para: <font color ="yellow">bolao2014brasil@gmail.com</font></br>
	</font>
</div>