<p>Oi <%= @resource.email %>!</p>

<p>Você pode alterar sua senha do Bolão da Copa através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Se você não pediu isso, por favor ignore este email.</p>
<p>Sua senha não será alterada enquanto você não acessar o link acima.</p>
